/* signup.component.css */
/* Basic page layout */
.signup-page {
  display: flex;
  min-height: 100vh; /* Fill viewport height */
  background-color: #121212; /* Dark background */
  color: white;
}

/* Logo container */
.logo {
  margin-top: -3px; /* Adjust as needed */
  margin-bottom: 5px;
}

.illustration-container {
  width: 50%;  /* Adjust as needed */
  padding: 50px; /* Optional padding for better visuals */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center;      /* Horizontally center content */
}

.illustration {
  width: 100%;  /* Or set a fixed width/height */
  max-width: 400px; /* To prevent image from becoming too large */
  margin-bottom: 20px; /* Add space below the illustration */
}

/* Signup container */
.signup-container {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form content */
  background-color: white; /* White background for the form */
  border-radius: 50px 0px 0px 50px;   /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


/* Form styles */
.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Input fields (adjust as needed) */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #f5f5f5; /* Light gray background */
  color: #333;             /* Dark gray text */
}

/* Error message */
.error-message {
  position: static;  
  color: red;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px; 
}

/* Button */
.signup-button {
  background-color: #2962FF; /* Blue button */
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px; /* Add more space above the button */
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #2448b8; /* Darker blue on hover */
}

.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc; /* Light gray line */
  line-height: 0.1em;       
  margin: 20px 0; 
} 

.divider span { 
    color: #ccc;
    background: #fff; 
    padding: 0 10px; 
}


.login-link {
  color: #FFA500; /* Orange */
  text-decoration: none;
  transition: transform 0.3s ease;
}

.login-link:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Additional styles (adjust as needed) */
h2 {
  color: #121212;
  text-align: center;
  margin-bottom: 30px;
}

.input-group label {
  color: #121212;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;  
  font-weight: normal; /* Default font weight */
  font-size: 16px;      /* Smaller font size */
}

